<a href="https://colab.research.google.com/github/ellerybledsoe/Springboard/blob/main/Austin_Restaurant_Inspections_Modeling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
import json

import matplotlib.pyplot as plt
import seaborn as sns

import tensorflow as tf
from tensorflow.keras.models import Model
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler, StandardScaler

#from google.colab import files

In [3]:
%ls

austin_restaurant_inspections_full_dataset_03.csv
austin_restaurant_inspections_X_test.csv
austin_restaurant_inspections_X_train.csv
austin_restaurant_inspections_y_test.csv
austin_restaurant_inspections_y_train.csv
sample_data/

In [4]:
# %pwd

In [5]:
#%cd ..

In [41]:
full = pd.read_csv("/content/austin_restaurant_inspections_full_dataset_03.csv")
X_train_scaled = pd.read_csv('/content/austin_restaurant_inspections_X_train.csv')
X_test_scaled = pd.read_csv('/content/austin_restaurant_inspections_X_test.csv')
y_train = pd.read_csv('/content/austin_restaurant_inspections_y_train.csv')
y_test = pd.read_csv('/content/austin_restaurant_inspections_y_test.csv')

In [42]:
X_train_scaled.head()

   Unnamed: 0  review_length  ...  RestaurantsPriceRange_3.0  Score_LG
0        4153       0.042165  ...                          0  0.933333
1        2528       0.188831  ...                          0  0.644444
2        5064       0.000000  ...                          0  0.844444
3        4135       0.018644  ...                          0  1.000000
4         723       0.279299  ...                          0  0.822222

[5 rows x 57 columns]

In [43]:
y_train.pass_fail_flag.value_counts(normalize=True)

0    0.991414
1    0.008586
Name: pass_fail_flag, dtype: float64

In [44]:
full.letter_grade.value_counts(normalize=True)

A    0.582074
B    0.315762
C    0.093922
F    0.008242
Name: letter_grade, dtype: float64

In [45]:
y_train.drop(columns=['Unnamed: 0'], inplace = True)
X_train_scaled.drop(columns=['Unnamed: 0','Score_LG','oldest_score','newest_score','is_open','RestaurantsPriceRange_0.0','Food'], inplace = True)
y_test.drop(columns=['Unnamed: 0'], inplace = True)
X_test_scaled.drop(columns=['Unnamed: 0','Score_LG','oldest_score','newest_score','is_open','RestaurantsPriceRange_0.0','Food'], inplace = True)

In [46]:
print(X_train_scaled.shape)
print(y_train.shape)
print(y_test.shape)

train_scaled = pd.concat([y_train,X_train_scaled], axis=1)
test_scaled = pd.concat([y_test,X_test_scaled], axis=1)

print(train_scaled.shape)
print(test_scaled.shape)

(4659, 50)
(4659, 1)
(1165, 1)
(4659, 51)
(1165, 51)

In [47]:
print(train_scaled.columns)

Index(['pass_fail_flag', 'review_length', 'review_word_count', 'reviews_count',
       'stars', 'useful_sum', 'stars_5.0_sum', 'cool_sum',
       'RestaurantsPriceRange2', 'funny_sum', 'Restaurants',
       'BusinessAcceptsCreditCards', 'Smoking_0', 'RestaurantsTakeOut',
       'stars_4.0_sum', 'RestaurantsGoodForGroups', 'GoodForKids',
       'BikeParking', 'lot', 'HasTV', 'RestaurantsDelivery', 'casual',
       'NoiseLevel_u'average'', 'stars_1.0_sum', 'OutdoorSeating', 'lunch',
       'Caters', 'stars_3.0_sum', 'RestaurantsAttire_'casual'',
       'RestaurantsAttire_u'casual'', 'dinner', 'WiFi_u'free'',
       'WheelchairAccessible', 'stars_2.0_sum', 'HappyHour', 'classy',
       'Alcohol_u'none'', 'RestaurantsTableService', 'street',
       'RestaurantsReservations', 'Bars', 'WiFi_u'no'', 'Alcohol_u'full_bar'',
       'Mexican', 'Nightlife', 'NoiseLevel_0', 'DogsAllowed',
       'Breakfast & Brunch', 'RestaurantsPriceRange_1.0',
       'RestaurantsPriceRange_2.0', 'RestaurantsPriceRange_3.0'],
      dtype='object')

In [48]:
train_scaled.pass_fail_flag.value_counts(normalize=True)

0    0.991414
1    0.008586
Name: pass_fail_flag, dtype: float64

In [49]:
train_scaled.head(1)

   pass_fail_flag  ...  RestaurantsPriceRange_3.0
0               0  ...                          0

[1 rows x 51 columns]

In [50]:
pass_train_data = train_scaled[train_scaled.pass_fail_flag == 0].iloc[:,1:]
fail_train_data = train_scaled[train_scaled.pass_fail_flag == 1].iloc[:,1:]

In [51]:
fail_train_data.head()

     review_length  ...  RestaurantsPriceRange_3.0
9         0.039815  ...                          0
164       0.018076  ...                          0
296       0.010560  ...                          0
408       0.000000  ...                          0
482       0.000000  ...                          0

[5 rows x 50 columns]

In [52]:
pass_test_data = test_scaled[test_scaled.pass_fail_flag == 0].iloc[:,1:].reset_index(drop=True)
fail_test_data = test_scaled[test_scaled.pass_fail_flag == 1].iloc[:,1:].reset_index(drop=True)

In [53]:
pass_train_data.shape

(4619, 50)

In [54]:
model = tf.keras.Sequential()
model.add(tf.keras.layers.Dense(25, activation='relu'))
model.add(tf.keras.layers.Dense(12, activation='relu'))
model.add(tf.keras.layers.Dense(6, activation='relu'))
model.add(tf.keras.layers.Dense(12, activation='relu'))
model.add(tf.keras.layers.Dense(25, activation='relu'))
model.add(tf.keras.layers.Dense(50, activation='sigmoid'))

#https://www.youtube.com/watch?v=S31E-ftRfQI&list=PLbxRL2wtmn7rENj4iA3FC5VE4LNvIweqs&index=2

In [90]:
class AutoEncoder(Model):
  def __init__(self):
    super(AutoEncoder, self).__init__()
    self.encoder = tf.keras.Sequential([
      tf.keras.layers.Dense(25,activation='relu'),
      tf.keras.layers.Dense(12,activation='relu'),
      tf.keras.layers.Dense(6,activation='relu')])
    
    self.decoder = tf.keras.Sequential([
      tf.keras.layers.Dense(12,activation='relu'),
      tf.keras.layers.Dense(25,activation='relu'),
      tf.keras.layers.Dense(50,activation='sigmoid')])
    
  def call(self, x):
    encoded = self.encoder(x)
    decoded = self.decoder(encoded)
    return decoded

# https://www.youtube.com/watch?v=S31E-ftRfQI&list=PLbxRL2wtmn7rENj4iA3FC5VE4LNvIweqs&index=2

In [91]:
model = AutoEncoder()
early_stop = tf.keras.callbacks.EarlyStopping(monitor='val_loss', patience=2, mode='min')

model.compile(optimizer='adam', loss='mean_squared_error')

#https://www.datacamp.com/community/tutorials/autoencoder-keras-tutorial

In [93]:
ae = model.fit(pass_train_data, pass_train_data,
               epochs = 20,
               batch_size = 100,
               validation_data = (train_scaled.iloc[:,1:], train_scaled.iloc[:,1:]),
               shuffle = True,
               callbacks = [early_stop])

Epoch 1/20
47/47 [==============================] - 0s 8ms/step - loss: 0.0831 - val_loss: 0.0824
Epoch 2/20
47/47 [==============================] - 0s 3ms/step - loss: 0.0819 - val_loss: 0.0812
Epoch 3/20
47/47 [==============================] - 0s 3ms/step - loss: 0.0808 - val_loss: 0.0802
Epoch 4/20
47/47 [==============================] - 0s 3ms/step - loss: 0.0798 - val_loss: 0.0794
Epoch 5/20
47/47 [==============================] - 0s 4ms/step - loss: 0.0789 - val_loss: 0.0784
Epoch 6/20
47/47 [==============================] - 0s 3ms/step - loss: 0.0780 - val_loss: 0.0775
Epoch 7/20
47/47 [==============================] - 0s 3ms/step - loss: 0.0770 - val_loss: 0.0766
Epoch 8/20
47/47 [==============================] - 0s 3ms/step - loss: 0.0760 - val_loss: 0.0753
Epoch 9/20
47/47 [==============================] - 0s 3ms/step - loss: 0.0749 - val_loss: 0.0747
Epoch 10/20
47/47 [==============================] - 0s 3ms/step - loss: 0.0740 - val_loss: 0.0736
Epoch 11/20
47/47 [==============================] - 0s 3ms/step - loss: 0.0732 - val_loss: 0.0728
Epoch 12/20
47/47 [==============================] - 0s 4ms/step - loss: 0.0726 - val_loss: 0.0720
Epoch 13/20
47/47 [==============================] - 0s 3ms/step - loss: 0.0719 - val_loss: 0.0714
Epoch 14/20
47/47 [==============================] - 0s 3ms/step - loss: 0.0714 - val_loss: 0.0712
Epoch 15/20
47/47 [==============================] - 0s 4ms/step - loss: 0.0709 - val_loss: 0.0706
Epoch 16/20
47/47 [==============================] - 0s 3ms/step - loss: 0.0705 - val_loss: 0.0702
Epoch 17/20
47/47 [==============================] - 0s 4ms/step - loss: 0.0702 - val_loss: 0.0701
Epoch 18/20
47/47 [==============================] - 0s 3ms/step - loss: 0.0699 - val_loss: 0.0697
Epoch 19/20
47/47 [==============================] - 0s 3ms/step - loss: 0.0696 - val_loss: 0.0695
Epoch 20/20
47/47 [==============================] - 0s 3ms/step - loss: 0.0692 - val_loss: 0.0691

In [96]:
pass_test_data.head()

   review_length  ...  RestaurantsPriceRange_3.0
0       0.021689  ...                          0
1       0.030766  ...                          0
2       0.044780  ...                          0
3       0.008249  ...                          0
4       0.000000  ...                          0

[5 rows x 50 columns]

In [98]:
pass_test_data.dtypes

review_length                  float64
review_word_count              float64
reviews_count                  float64
stars                          float64
useful_sum                     float64
stars_5.0_sum                  float64
cool_sum                       float64
RestaurantsPriceRange2         float64
funny_sum                      float64
Restaurants                    float64
BusinessAcceptsCreditCards     float64
Smoking_0                        int64
RestaurantsTakeOut             float64
stars_4.0_sum                  float64
RestaurantsGoodForGroups       float64
GoodForKids                    float64
BikeParking                    float64
lot                            float64
HasTV                          float64
RestaurantsDelivery            float64
casual                         float64
NoiseLevel_u'average'            int64
stars_1.0_sum                  float64
OutdoorSeating                 float64
lunch                          float64
Caters                         float64
stars_3.0_sum                  float64
RestaurantsAttire_'casual'       int64
RestaurantsAttire_u'casual'      int64
dinner                         float64
WiFi_u'free'                     int64
WheelchairAccessible           float64
stars_2.0_sum                  float64
HappyHour                      float64
classy                         float64
Alcohol_u'none'                  int64
RestaurantsTableService        float64
street                         float64
RestaurantsReservations        float64
Bars                           float64
WiFi_u'no'                       int64
Alcohol_u'full_bar'              int64
Mexican                        float64
Nightlife                      float64
NoiseLevel_0                     int64
DogsAllowed                    float64
Breakfast & Brunch             float64
RestaurantsPriceRange_1.0        int64
RestaurantsPriceRange_2.0        int64
RestaurantsPriceRange_3.0        int64
dtype: object

In [101]:
pass_test_data[pass_test_data.isna().any(axis=1)]

Empty DataFrame
Columns: [review_length, review_word_count, reviews_count, stars, useful_sum, stars_5.0_sum, cool_sum, RestaurantsPriceRange2, funny_sum, Restaurants, BusinessAcceptsCreditCards, Smoking_0, RestaurantsTakeOut, stars_4.0_sum, RestaurantsGoodForGroups, GoodForKids, BikeParking, lot, HasTV, RestaurantsDelivery, casual, NoiseLevel_u'average', stars_1.0_sum, OutdoorSeating, lunch, Caters, stars_3.0_sum, RestaurantsAttire_'casual', RestaurantsAttire_u'casual', dinner, WiFi_u'free', WheelchairAccessible, stars_2.0_sum, HappyHour, classy, Alcohol_u'none', RestaurantsTableService, street, RestaurantsReservations, Bars, WiFi_u'no', Alcohol_u'full_bar', Mexican, Nightlife, NoiseLevel_0, DogsAllowed, Breakfast & Brunch, RestaurantsPriceRange_1.0, RestaurantsPriceRange_2.0, RestaurantsPriceRange_3.0]
Index: []

In [105]:
encoder_out = model.encoder(pass_test_data).numpy()
decoder_out = model.decoder(encoder_out).numpy()

AttributeError: ignored